
.uppercase
	text-transform: uppercase
.fwb
	font-family: $Bold
.overlay-bg
	&:before
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: rgba(0, 0, 0, 0.6)
		z-index: 0
.relative
	position: relative