.about
	padding-top: 76px
	padding-bottom: 80px
	font-family: "ProximaNova", sans-serif

	&__header
		text-align: center
		padding-bottom: 44px
		&-title
			font-size: 26px
			font-weight: 400
			text-transform: uppercase
	&__text
		padding-bottom: 76px
		width: 542px
		color: #5b5b5b
		text-align: justify
		line-height: 1.6
	&__descr_partner
		padding-bottom: 15px		
		font-size: 18px
		font-weight: 200
		span
			font-weight: 700
			color: #202020
	&__descr-goals
		font-size: 18px
		font-weight: 200
		span
			font-weight: 700
			color: #202020
	&__features-wrap
		display: flex
		justify-content: space-between
	&__education
		position: relative
	&__education_color
		width: 263px
		height: 51px
		background-color: #1991d4
		border-radius: 2px
	&__education_img
		position: absolute
		bottom: 29px
		left: 21px
	&__education-text
		padding-top: 15px
		margin-left: 19px
		font-size: 18px
		font-weight: 700
		color: #202020
	&__qualification
		position: relative

	&__qualification_color
		width: 263px
		height: 51px
		background-color: #7e66e7
		border-radius: 2px
	&__qualification_img
		position: absolute
		bottom: 29px
		left: 21px
	&__qualification-text
		padding-top: 15px
		margin-left: 19px
		font-size: 18px
		font-weight: 700
		color: #202020
.youtube
	&__img
		cursor: pointer
		position: relative
	&__play
		position: absolute
		top: 165px
		left: 290px
		width: 19px
		height: 40px
		z-index: 1
		cursor: pointer




