.contacts
	padding-top: 79px
	padding-bottom: 80px
	&__body
		display: flex
		align-items: center
		justify-content: center
	&__map

		padding-right: 49px
		max-width: 728px

	&__wrap
		min-width: 265px
		display: inline-block

  
	&__line
		margin: 0 auto
		margin-bottom: 20px
		background-image: linear-gradient(90deg, rgba(23,127,188,0.9), rgba(114,69,192, 0.9))
		height: 1px
		width: 48px
	&__header
		text-align: center
		margin-bottom: 20px
		color: #202020
		font-family: "ProximaNova", sans-serif
		font-size: 26px
		font-weight: 400
		line-height: 24px
		text-transform: uppercase
	&__btn
		padding: 15px 25px
		border-radius: 25px
		font-family: "ProximaNova" ,sans-serif
		font-size: 14px
		font-weight: 700
		&:hover
			box-shadow: 0 0 13px rgba(0, 0, 0, 0.19)
	&__title
		color: #202020
		font-family: "ProximaNova", sans-serif
		font-size: 18px
		font-weight: 600
		text-align: left
		margin-bottom: 18px
	&__item
		display: flex
		align-items: center
		justify-content: flex-start
	&__img
		&-wrap
			margin-right: 12px
			align-self: center
	&__text
		color: #202020
		font-family: "ProximaNova", sans-serif
		font-size: 16px
		font-weight: 400
		text-decoration: none
		align-self: center
	&__col
		margin-bottom: 32px
@media screen and ( max-width: 768px)
  .contacts__body
    flex-direction: column
  .contacts__map
    width: 100%
    padding: 0