.description
  background-color: #f4f9fb
  padding: 75px 0
  &__btn
    padding: 22px 34px
    border-radius: 30px
    display: inline-block
    &:hover
      box-shadow: 0 0 13px rgba(0, 0, 0, 0.19)

.description-container-wrap
  max-width: 1170px
  margin: 0 auto
  text-align: center
.description__text-line
  margin: 0 auto
  margin-bottom: 20px
  background-image: linear-gradient(90deg, rgba(23,127,188,0.9), rgba(114,69,192, 0.9))
  height: 1px
  width: 48px
.description__text-text_bottom
  margin: 20px 0 
.description__text
  text-align: center
  padding: 0 20px
  &-title
    margin-bottom: 20px
    color: #202020
    font-family: "ProximaNova", sans-serif
    font-size: 26px
    font-weight: 400
    line-height: 24px
    text-transform: uppercase
  &-text
    color: #5b5b5b
    font-family: "ProximaNova", sans-serif
    font-size: 18px
    font-weight: 300
    line-height: 28px
  &-bold
    color: #202020
    font-family: "ProximaNova", sans-serif
    font-weight: 700
.description-count
  max-width: 1170px
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  text-align: center
.description__block
  max-width: 355px
  min-height: 60px
  color: #5b5b5b
  font-family: "ProximaNova", sans-serif
  font-size: 16px
  font-weight: 300
  line-height: 22px
  margin-bottom: 40px
.description__block-img
  min-height: 68px
