.features
	padding-top: 79px
	padding-bottom: 76px
	text-align: center
	font-family: "ProximaNova", sans-serif
	color: #5b5b5b	
	
	&__header
		&_title
			color: #202020
			font-size: 26px
			font-weight: 400
			line-height: 24px
			text-transform: uppercase
			padding-bottom: 23px

		&-line
			margin: 0 auto
			margin-bottom: 33px
			background-image: linear-gradient(90deg, rgba(23,127,188,0.9), rgba(114,69,192, 0.9))
			height: 1px
			width: 48px

	&__block
		display: flex
		align-items: center
		justify-content: center
		flex-wrap: wrap
		padding-bottom: 30px
		&-wrap
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			flex-basis: 360px
			height: 188px
			border: 1px solid #eeedee
			border-radius: 3px
			margin-right: 31px
			&:last-child
				margin-right: 0
	&__text
		font-size: 16px
		width: 233px
		font-weight: 300
	&-img
		width: 100%
		height: 100%

	&__sertificate
		border: 1px solid #eeedee
		width: 150px
		height: 200px
		margin: 0 auto
		padding: 13px
		margin-bottom: 30px
		cursor: pointer
		transition: 0.2s all ease
		&:hover
			width: 160px
			height: 210px
			margin-bottom: 20px


	&__numbers
		display: flex
		align-items: center
		justify-content: center
		color: #fff
		margin: 0 auto
		font-size: 24px
		font-weight: 400
		background-image: linear-gradient(45deg, #1c8fd4 0%, #7e66e7 100%)
		width: 78px
		height: 78px
		border-radius: 50%
		margin-bottom: 14px
	&__note
		max-width: 753px
		margin: 0 auto
		font-size: 18px
		font-weight: 700
		line-height: 28px	