.feedback-wrap
  max-width: 750px
  margin: 0 auto
  font-family: "ProximaNova",sans-serif
  text-align: center
  padding: 80px 0
.feedback-wrap_title
  margin-bottom: 20px
  font-size: 26px
  font-weight: 400
  line-height: 24px
  text-transform: uppercase
.feedback-wrap_subtext__title
  color: #202020
  font-size: 18px
  font-weight: 700
  margin-bottom: 5px
.feedback-wrap_subtext__descr
  color: #404040
  font-size: 16px
  font-weight: 300
  line-height: 22px
  margin-bottom: 10px
.feedback-wrap__descr
  color: #5b5b5b
  font-size: 16px
  font-weight: 300
  line-height: 22.14px
.feedback-wrap_item
  margin-bottom: 20px
.feedback-btn
  padding: 20px 48px
  border-radius: 40px
  &:hover
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.19)
.feedback-slider
  max-width: 750px
  
  margin: 0 auto
  border-radius: 50%
  text-align: center
.feedback-slider_img
  text-align: center
  margin: 0 auto
  overflow: hidden
.feedback-slider_img__image
  display: inline-block !important
.arrow
  position: absolute  
  top: -36%
  z-index: 20
  background: no-repeat center
  cursor: pointer
  width: 22px
  height: 100%
  transition: all ease 0.3s
  &:hover
    transform: scale(1.2)
  &-right
    right: 20%
    background-image: url(../img/feedback/arrow-righ.png)
   
  &-left
    left: 20%
    background-image: url(../img/feedback/arrow-left.png)
   
.feedback-slider
  &::after
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 40%
    height: 176px
    background-color: #fff !important
  &::before
    content: ""
    position: absolute
    top: 0
    right: 0
    width: 40%
    height: 176px
    background-color: #fff !important
    z-index: 10
    