.footer 
	padding-top: 43px
	background-image: linear-gradient(90deg, rgba(23,127,188,0.9), rgba(114,69,192, 0.9)), url(../img/footer.png)
	font-family: "ProximaNova" , sans-serif
	color: #fff
	&__text
		padding-bottom: 46px  
	&__logo-img 
		width: 100%
		vertical-align: middle
	&__logo
		&_text
			font-size: 16px
			font-weight: 400
			line-height: 22px
	&__contact
		&_text
			font-size: 14px
			text-align: right
	&__contact
		&_call
			font-size: 19px
			font-weight: 700
			line-height: 24px
			display: block
			text-align: right
	&__btn
		padding: 15px 25px
		border-radius: 25px
		font-family: "ProximaNova" ,sans-serif
		font-size: 12px
		font-weight: 700
	&__note
		text-align: center
		opacity: 0.5
		padding-top: 30px
		padding-bottom: 31px
		color: #ffffff
		font-family: "ProximaNova", sans-serif
		font-size: 13px
		font-weight: 300
		border-top: 1px solid #fff 

