body
  margin: 0
  padding: 0
.header 
  padding: 70px 0
  padding-bottom: 170px
  background-image: linear-gradient(90deg, rgba(23,127,188,0.9), rgba(114,69,192, 0.9)), url(../img/header-bg.jpg)
  font-family: "ProximaNova" , sans-serif
  color: #fff
	
  
.title-text
  margin-bottom: 140px
.item-top-left__img-image 
	width: 100%
	vertical-align: middle
.item-top-left__text
  font-family: "ProximaNova" ,sans-serif
  font-size: 16px
  font-weight: 400
  line-height: 22px
.text-title
  font-family: "ProximaNova",sans-serif
  font-size: 48px
  font-weight: 700
  line-height: 24px
  &__small
    font-size: 22px
    text-transform: uppercase
    
.text-subtitle
  margin-bottom: 20px
  font-family: "ProximaNova",sans-serif
  font-size: 24px
  font-weight: 400
  line-height: 24px
.text-description
  font-family: "ProximaNova",sans-serif
  font-size: 18px
  font-weight: 300
  line-height: 24px
.buttons
  color: #202020
  background-color: #ffdc38
  outline: none
  border: 1px solid #ffdc38
  font-family: "ProximaNova",sans-serif
  font-size: 16px
  font-weight: 700
  cursor: pointer
  transition: all ease 0.3s
  &:hover
    background-color: #ffbb38
    color: #202020
  
.item-btn-left
  padding: 23px 37px
  border-radius: 35px
  margin-top: 10px
.item-btn-top
  padding: 15px 25px
  border-radius: 25px
  font-family: "ProximaNova" ,sans-serif
  font-size: 12px
  font-weight: 700
.btn-right-bottom
  padding: 20px 30px
  border-radius: 30px
  font-family: "ProximaNova",sans-serif
  font-size: 15px
  font-weight: 700
.item-right__form
  position: relative
  z-index: 100
  
.form-wrap
  position: relative
  transform: translateY(50%)
  z-index: 40
  background: transparent
  
  

.item-right
  text-align: center
  border: 1px solid #AEB0EB
  border-bottom: none
  position: relative
  &::after
    content: ""
    position: absolute
    left: 0
    bottom: 0
    width: 14%
    height: 10px
    border-bottom: 1px solid #AEB0EB
    background: none
  &::before
    content: ""
    position: absolute
    right: 0
    bottom: 0
    width: 14%
    height: 10px
    border-bottom: 1px solid #AEB0EB
    background: none
.item-right__text
  color: #ffffff
  font-family: "ProximaNova", sans-serif
  font-size: 14px
  font-weight: 300
  line-height: 24px
.text-right-top
  font-size: 14px
  text-align: right
.text-right-bottom
  font-family: "Roboto", sans-serif
  font-size: 19px
  font-weight: 700
  line-height: 24px
  display: block
  text-align: right
 

.text-description 
  margin-bottom: 30px
  font-family: "ProximaNova", sans-serif
  font-size: 16px
  font-weight: 400
  line-height: 21px

.inp
  width: 300px
  padding: 19px 0
  padding-left: 50px
  border-radius: 25px
  outline: none
  border: 1px solid #fff
  margin-bottom: 15px
 
.inp-user-name
  background: url(../img/user_icon.png),#fff
  background-repeat: no-repeat
  background-position: 20px 50%
.inp-phone 
  background: url(../img/phone_icon.png),#fff
  background-repeat: no-repeat
  background-position: 20px 50%
.arrow-down
  position: relative
  margin: 0 auto
  text-align: center
  top: 115px
 
  