.offer
	background-image: linear-gradient(90deg, rgba(23,127,188,0.8), rgba(114,69,192, 0.8)), url(../img/offer.png)
	padding: 80px
	font-family: "ProximaNova", sans-serif

	&__btn
		padding: 17px 34px
		border-radius: 30px
		display: inline-block
	&__wrapper
		max-width: 650px
		margin: 0 auto
		display: flex
		align-items: center
		justify-content: space-between
	&__text
		color: #fff
		&_title
			font-size: 26px
			font-weight: 400
			line-height: 24px
			text-transform: uppercase
			padding-bottom: 8px
		&_subtitle
			font-size: 18px
			font-weight: 300
		


