.overlay
	position: fixed
	display: none
	top: 0
	width: 100%
	height: 100%
	z-index: 100
	background-color: rgba(0, 0, 0, 0.4)
	
.popup
	display: block
	position: fixed
	left: 50%
	top: 50%
	width: 750px
	transform: translate(-50%, -50%)
	@media (max-width: 992px)
		width: 95%
	&__img
		width: 100%
		height: 100%
		object-fit: cover

	&-close
		position: absolute
		font-size: 36px
		color: #fff
		font-weight: 300
		cursor: pointer
		top: -30px
		right: 105px
		@media (max-width: 992px)
			top: -37px
			right: -22px
		@media (max-width: 768px)
			top: -30px
			right: 60px
		@media (min-width: 992px)
			// &:hover
			// 	color: #ff9d00
			// 	display: block

	&__wrap
		width: 500px
		margin: 0 auto
		@media (max-width: 992px)
			// font-size: 18px
		@media (max-width: 768px)
			// font-size: 15px