.questions
  background-image: linear-gradient(90deg, rgba(23,127,188,0.9), rgba(114,69,192, 0.9)), url(../img/questions/bg.jpg)
  font-family: "ProximaNova" , sans-serif
  background-position: 0 bottom
.questions-wrap
  max-width: 615px
  margin: 0 auto
  padding: 80px 0
  text-align: center
  
  &-title
    margin-bottom: 23px
    color: #ffffff
    font-size: 26px
    font-weight: 400
    line-height: 24px
    text-transform: uppercase
  &-line
    width: 48px
    height: 1px
    margin: 0 auto
    margin-bottom: 15px
    background-color: #fff
    
  &-subtitle 
    margin-bottom: 33px
    color: #ffffff
    font-size: 18px
    font-weight: 300
    line-height: 28px
.form-questions-btn
  margin-top: 15px
  transform: translateY(0)
.inp-left
  margin-right: 5px
.inp-right 
  margin-left: 5px