.services
  background-color: #f4f9fb
.services-wrap__line
  margin-bottom: 30px 
.services-wrap
  max-width: 1170px
  margin: 0 auto
  padding: 80px 15px
  font-family: "ProximaNova", sans-serif
  &__title
    padding-bottom: 20px
    text-align: center
    color: #202020
    font-size: 26px
    font-weight: 400
    line-height: 24px
    text-transform: uppercase
  &__description
    color: #5b5b5b
    font-size: 16px
    font-weight: 300
    line-height: 22px
  &__block
    width: 100%
    margin: 0 auto
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    text-align: center
    
.services-block
  max-width: 360px
  padding: 10px
  background-color: #fff
.services-block__img
  margin-bottom: 35px
.services-block__title
  margin-bottom: 25px
  color: #202020
  font-size: 20px
  font-weight: 400
  line-height: 22px
.services-block__description
  padding: 0 31px
  margin-bottom: 30px
  color: #5b5b5b
  font-size: 16px
  font-weight: 300
  line-height: 22px
.services-block__btn 
  padding: 17px 52px
  border-radius: 50px
  margin-bottom: 23px
  &:hover
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.19)
 
  